<div>
  <h1 class="text-center text-green-500 text-6xl mt-40 mb-20"><%= "#{@user.name}ã•ã‚“ã€ä½•ã‚’ä½œã‚Šã¾ã™ã‹ï¼Ÿ" %></h1>
</div>

<div class="justify-center mx-auto w-3/4	h-96	border-dashed border-2 border-green-500">
  <p class="text-center text-green-500 text-3xl mt-11 "><%= "ðŸŒ¼#{@user.name}ã•ã‚“ãŒæŠ•ç¨¿ã—ãŸä½œå“ä¸€è¦§ðŸŒ¼" %></p>
  <div class="col-sm-12 col-lg-4 mb-3">
    <% if @posts.present? %>
      <div class= "flex ">
        <% @posts.each do |post| %>
          <%= image_tag post.post_image_url, size: '300x200'%>
        <% end %>
      </div>
    <% else %>
      <p><%= "æŠ•ç¨¿ã—ã¦ã„ã¾ã›ã‚“" %></p>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
