<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-col text-center w-full mb-20 bg-yellow-100">
      <%= image_tag "flower1.png"%>
      <h1 class="text-3xl font-medium title-font mb-4 text-gray-900 font-body "><%= "#{@user.name}さん、何を作りますか？" %></h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base font-body text-lg">かぎ針で編んだ作品をコレクションしましょう</p>
      <%= image_tag "flower1.png"%>
  </div>

  <div class=" mx-auto w-3/4 border-dashed border-2 border-green-500">
    <p class="text-center text-green-500 text-3xl mt-11 font-body"><%= "🌼#{@user.name}さんが投稿した作品一覧🌼" %></p>
    <div class="mb-3 mt-3 w-3/4 mx-auto">
      <% if @posts.present? %>
        <div class="swiper w-3/4 ">
          <div class="swiper-wrapper">
              <% @posts.each do |post| %>
                <%= image_tag post.post_image_url, size: "100", class: 'swiper-slide'%>
              <% end %>
          </div> 
          <div class="swiper-button-prev swiper-button-white"></div>
          <div class="swiper-button-next swiper-button-white"></div>
        </div>
      <% else %>
        <p class="text-center text-green-500 font-body text-3xl mt-11 leading-normal"> 投稿していません。<br><%="#{@user.name}さんの編み物をぜひみたいです🌷" %></p>
      <% end %>
    </div>
  </div>
  <%= javascript_pack_tag 'users/show' %>
</div>