<header>
  <nav class="flex items-center justify-between flex-wrap bg-green-200 p-6 h-18">
    <div class="block mr-4">
      <%= link_to root_path do %>
        <%= image_tag src='logo.png',width: "100",heght: "100"%>
      <%end%>
    </div>

    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto mb-8 mt-4">
      <div class="text-sm lg:flex-grow">
        <div class="block lg:inline-block lg:mt-0 text-green-900 hover:text-red-300 text-2xl mr-4">
          <%= link_to "マイページ", user_path(current_user.id) %>
        </div>
        <div class= "block lg:inline-block lg:mt-0 text-green-900 hover:text-red-300 text-2xl mr-4">
          <%= link_to "お気に入り", favorites_posts_path %>
        </div>
        <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-green-900 hover:text-red-300 text-2xl">
          塗ったカラーイメージ
        </a>
      </div>
      <div class= "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
        <%= link_to 'ログアウト', logout_path, method: :delete %>
    </div>
  </nav>
</header>
