<div class="container px-5 py-24 mx-auto"> 
  <div class="flex flex-col text-center w-full mb-10 bg-yellow-100">
    <%= image_tag "flower1.png"%>
    <h1 class="text-3xl font-medium title-font mb-4 text-gray-900 font-body">Drawing Knitting diagrams</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base font-body text-lg">たくさん編み図の配色を保存して、比べてみて出来上がるのを想像してみてください🌼</p>
    <%= image_tag "flower1.png"%>
  </div>
  <div class="container mx-auto mt-6">
    <% if @knitting_diagrams.present? %>
      <section class="flex flex-wrap justify-around">
        <% @knitting_diagrams.each do |knitting_diagram|%>
          <div id="knitting_diagrams-id-<%= knitting_diagram.id%>" class="flex flex-wrap justify-around mx-3 mb-3 object-cover">
            <div class= "square_outer1" style="background-color:<%= knitting_diagram.square_outer %>"></div>
            <div class= "square_center2 m-12" style="background-color:<%= knitting_diagram.square_center %>"></div>
            <div class= "square_inner3 m-24" style="background-color:<%= knitting_diagram.square_inner %>"></div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="justify-center mx-auto">
        <div class= "text-center text-green-500 font-body lg:text-3xl mt-11 mx-auto leading-normal"><%= t('.no_result') %><br>編み図に似せて色を塗って配色を考えてみませんか🌷</div>
        <button class=" text-green-500 font-body rounded px-4 py-2 mt-11 shadow-2xl w-full lg:text-2xl"><%= link_to "塗りにいく>>", draw_path %></button>
      </div>
    <% end %>
    <%= paginate @knitting_diagrams, window: 2 %>
  </div>
</div>