<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<div class= "flex w-3/4 flex-wrap gap-2 justify-center mx-auto">
  <%= paginator.render do -%>
    <nav aria-label="Page navigation example">
      <ul class="inline-flex">
        <%= first_page_tag unless current_page.first? %>
        <%= prev_page_tag unless current_page.first? %>
        <% unless current_page.out_of_range? %>
          <%= next_page_tag unless current_page.last? %>
          <%= last_page_tag unless current_page.last? %>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
