<div class= "justify-center">
  <h1 class="text-center font-bold text-4xl m-8 text-green-500"><%= t('.title') %></h1>
</div>

<div class="container pt-3 ">
  <div class="col-lg-10 offset-lg-1 flex justify-end ">
    <%= form_with model: @search_posts_form, scope: :q, url: posts_path, method: :get do |f| %>

      <div class="inline-block relative w-44">
        <div class="border border-gray-300 rounded-full text-gray-600 h-10 pt-2 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
          <%= f.select :category_id, Category.pluck(:name, :id) , {include_blank: "カテゴリ"}%>
        </div>
      </div>

      <div class="inline-block relative w-32">
        <div class="border border-gray-300 rounded-full text-gray-600 h-10 pt-2 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
          <%= f.select :mood_id, Mood.pluck(:name, :id) , {include_blank: "イメージ"}%>
        </div>
      </div>

      <button class="inline-block relative rounded-full justify-center items-center bg-red-200 hover:bg-pink-500 text-green-500 py-2 px-4 " type="submit">
        <%= f.submit t('.search') %>
      </button>
    <%end%>
  </div>

  <div class= "flex justify-around flex-wrap">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>